.card {
    padding: 0;
}
.bg-color {
    background-color: #00A0D7 !important;
    color: #ffff;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border: none;
    padding: 0 !important;
}
.justify-content-center ul{
    justify-content: center;
}
button.btn.btn-delete {
    position: absolute;
    right: 11px;
    top: 7px;
    color: #fff;
    background-color: #bf1717;
    display: none;
}
.card:hover .btn-delete {
    display: block;
}
img.card-img-top {
    height: 120px;
}
.zoom-effect{
    transform:scale(1, 1);
    transition: 1s;
}
.zoom-effect:hover{
    transform:scale(1.1, 1.1);
}